<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Productos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/app.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left navegador">
          <ul class="menu">
            <li class="menu-text">Floristeria Dani</li>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="formulario.html">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 large-5 columns letra">
        <h3 class="letra"><strong>Nuestros productos</strong></h3>
      </div>
    </div>


    <div class="tabs-content letra separacion" id="panel2">
      <div class="tabs-content" id="panel2">
        <div class="row medium-up-3 large-up-5 letra" data-equalizer data-equalize-by-row="true">>
          <div class="column">
            <img class="thumbnail" src="img/crisantemo.jpg">
            <h5 class="letra"><strong>Crisantemo</strong> <small>10€</small></h5>
            <p>Ramo de flores especialmente diseñado para el día de todos los santos, realizado en uno de los grandes clasicos en el "Dia de Todos los Santos"  el Crisantemo. Ademas puedes elegir el color que prefieras.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/tulipanes.jpg">
            <h5 class="letra"><strong>Tulipanes</strong> <small>20€</small></h5>
            <p>Ramo de flores creado especialmente para ti, para esa ocasión especial, <strong>cumpleaños, nacimientos, bautizos, aniversarios</strong>… o simplemente porque quieres tener el detalle.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/pascua.jpg">
            <h5 class="letra"><strong>Flor de Pascua</strong> <small>15€</small></h5>
            <p>La Flor de Pascua, Poinsetia o Pascuero es originaria de México y muy decorativa; no en vano, "pulcherrima" significa "la más bella".</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/violetas.jpg">
            <h5 class="letra"><strong>violetas</strong> <small>13,50€</small></h5>
            <p>Violeta de Olor. Planta perenne de flores color violeta muy perfumadas. Ideal para rocallas y macizos.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/bonsai.jpg">
            <h5 class="letra"><strong>Bonsái Olmo de China 35 años</strong> <small>620€</small></h5>
            <p>El olmo de China es un bonsái de exteriores que apreciará el sol en verano y las temperaturas frías en invierno. Ideal para empezar, este bonsái necesita pocos cuidados.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
        </div>
      </div>
      <div class="tabs-content" id="panel2">
        <div class="row medium-up-3 large-up-5 letra" data-equalizer data-equalize-by-row="true">>
          <div class="column">
            <img class="thumbnail" src="img/crisantemo.jpg">
            <h5 class="letra"><strong>Crisantemo</strong> <small>10€</small></h5>
            <p>Ramo de flores especialmente diseñado para el día de todos los santos, realizado en uno de los grandes clasicos en el "Dia de Todos los Santos"  el Crisantemo. Ademas puedes elegir el color que prefieras.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/tulipanes.jpg">
            <h5 class="letra"><strong>Tulipanes</strong> <small>20€</small></h5>
            <p>Ramo de flores creado especialmente para ti, para esa ocasión especial, <strong>cumpleaños, nacimientos, bautizos, aniversarios</strong>… o simplemente porque quieres tener el detalle.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/pascua.jpg">
            <h5 class="letra"><strong>Flor de Pascua</strong> <small>15€</small></h5>
            <p>La Flor de Pascua, Poinsetia o Pascuero es originaria de México y muy decorativa; no en vano, "pulcherrima" significa "la más bella".</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/violetas.jpg">
            <h5 class="letra"><strong>violetas</strong> <small>13,50€</small></h5>
            <p>Violeta de Olor. Planta perenne de flores color violeta muy perfumadas. Ideal para rocallas y macizos.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/bonsai.jpg">
            <h5 class="letra"><strong>Bonsái Olmo de China 35 años</strong> <small>620€</small></h5>
            <p>El olmo de China es un bonsái de exteriores que apreciará el sol en verano y las temperaturas frías en invierno. Ideal para empezar, este bonsái necesita pocos cuidados.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
        </div>
      </div>
      <div class="tabs-content" id="panel2">
        <div class="row medium-up-3 large-up-5 letra" data-equalizer data-equalize-by-row="true">>
          <div class="column">
            <img class="thumbnail" src="img/crisantemo.jpg">
            <h5 class="letra"><strong>Crisantemo</strong> <small>10€</small></h5>
            <p>Ramo de flores especialmente diseñado para el día de todos los santos, realizado en uno de los grandes clasicos en el "Dia de Todos los Santos"  el Crisantemo. Ademas puedes elegir el color que prefieras.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/tulipanes.jpg">
            <h5 class="letra"><strong>Tulipanes</strong> <small>20€</small></h5>
            <p>Ramo de flores creado especialmente para ti, para esa ocasión especial, <strong>cumpleaños, nacimientos, bautizos, aniversarios</strong>… o simplemente porque quieres tener el detalle.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/pascua.jpg">
            <h5 class="letra"><strong>Flor de Pascua</strong> <small>15€</small></h5>
            <p>La Flor de Pascua, Poinsetia o Pascuero es originaria de México y muy decorativa; no en vano, "pulcherrima" significa "la más bella".</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/violetas.jpg">
            <h5 class="letra"><strong>violetas</strong> <small>13,50€</small></h5>
            <p>Violeta de Olor. Planta perenne de flores color violeta muy perfumadas. Ideal para rocallas y macizos.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
          <div class="column">
            <img class="thumbnail" src="img/bonsai.jpg">
            <h5 class="letra"><strong>Bonsái Olmo de China 35 años</strong> <small>620€</small></h5>
            <p>El olmo de China es un bonsái de exteriores que apreciará el sol en verano y las temperaturas frías en invierno. Ideal para empezar, este bonsái necesita pocos cuidados.</p>
            <a href="#" class="button hollow tiny expanded">Comprar</a>
          </div>
        </div>
      </div>
      </div>

    <div class="row column letra">
      <hr>
      <ul class="menu">
        <li>Floristeria Dani</li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Donde estamos</a></li>
        <li><a href="#">Contacta</a></li>
        <li class="float-right">Copyright 2016</li>
      </ul>
    </div>
  </body>
</html>
